.logincont{
  display: flex;
  justify-content: center;
  margin-top: 4%;
  width: 108%;
}
.loginimage{
  width: 650px;
  height: 680px;
}
.loginform{
  width: 25%;
  margin-left:3%;
  margin-top: 6%;
}
