{% extends 'my-app/base.html'%}
{% load staticfiles%}
{% load bootstrap3%}
{% block styles%}
{{block.super}}

<link rel="stylesheet" href="{% static 'css/timeline.css'%}">
{% endblock%}

{% block content%}
{{block.super}}

<div class="container">
<div class="row">
  <div class="col-md-6">
    {% for image in timeline_pic%}
    <div class="double">
      <div> <h5> {{image.user_key}}</h5></div>
      <img src={{image.image.url}} id="timeline_pic">
      <div> <a href="{% url 'like' image.id%}"></a>
        <a href="{% url 'comment' image.id%}"></a>
        <span class="glyphicon glyphicon-bookmark"></span>
        <h5>{{image.likes}}likes</h5>
    </div>
    <h5>{{image.comments_number}} comments<a href="{%url 'comment' image.id%}">View</a></h5>
    </div>
    <h5>{{image.pub_date| date}}</h5>
    <a href="{% url 'comment' image.id%}">Comment</a>
  </div>
</div>
{%endfor%}
</div>
</div>
</div>
{% endblock%}
{% block scripts%}
{{block.super}}
<script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/mootools/1.6.0/mootools.min.js"></script>
<script type="text/javascript"  src="{%static 'js/timeline.js'%"></script>
{% endblock%}

